body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2196f3;
    color: #ffffff;
    margin: 0;
    padding: 16px;
    font-weight: 500;
}

.card {
    display: flex;
    margin: 8px;
    padding: 8px;
    background-color: #ffffff;
    max-width: 640px;
}

.thumbnail {
    background-color: #f2f2f2;
    box-shadow: 0px 2px 8px 0 rgb(0 0 0 / 8%);
    position: relative;
}

.thumbnail-image {
    width: 120px;
    height: 120px;
}

.thumbnail-text {
    font-weight: 300;
    background: #ffffff;
    position: absolute;
    padding: 8px;
    bottom: 0;
    right: 0;
}

.thumbnail-text-emphasized {
    font-weight: 500;
}

.card-content {
    margin: 0 16px;
}

.card-title {
    font-weight: 300;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.card-subtitle {
    font-weight: 300;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

@media only screen and (min-width: 640px) {
    .card {
        margin: 16px;
    }
    .thumbnail-image {
        width: 160px;
        height: 160px;
    }
    .card-content {
        margin: 16px;
    }
}
