<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delivery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h2 class="header">Delivery</h2>

    <div class="card" th:each="restaurant : ${restaurants}">
        <div class="thumbnail">
            <img class="thumbnail-image" th:src="${restaurant.thumbnailUrl}" />
            <div class="thumbnail-text">
                <span class="thumbnail-text-emphasized" th:text="${restaurant.expectedDeliveryTime.toMinutes}">30</span>
                <span> min</span>
            </div>
        </div>
        <div class="card-content">
            <h2 class="card-title" th:text="${restaurant.name}">Schnitzelfabrik</h2>
            <p class="card-subtitle" th:text="${restaurant.style}">Austrian, German</p>
        </div>
    </div>

</body>
</html>